body,
#app {
    height: var(--vvh, 100dvh);
    transition: height 0.2s ease-in-out;
}

body {
    margin: 0 auto;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
